name: "Issue assignment"

on:
  issues:
    types: [opened]

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: 'Auto-assign issue'
        uses: pozil/auto-assign-issue@v2
        with:
          assignees: tropnikovvl
          allowSelfAssign: false
